/* Selecciona todos los elementos de la pág */
* {
    font: 1em/1.3 Arial, Helvetica, sans-serif
}

/* Selecciona todos los párrafos de la pág */
p{
    color:saddlebrown
}

/* Todos los párrafos contenidos en #primero */
#primero p { 
    color: #3d3399
}

/* Todos los enlaces de la pág */
a{
    color: yellow;
}

/* Todos los elementos em contenidos en #primero */
#primero em{
    background: #54ac0d; padding: .1em
}

/* Todos los elementos em de clase especial en toda la pág */
em.especial{
    background: #FFCC99; border: 1px solid
#6c1b92; padding: .1em;
}

/* Elementos span contenidos en normal */
.normal span{
    font-weight: bold
}