

#primero{
    height: 50vh;

    /* imagen de fondo */
    background-image: url(AGP_C037_place_malaga_01.jpg.image.750.563.low.jpeg);

    /* left center rigth */
    background-position-x: center;

/* top center botton */
    background-position-y: bottom;

   
    /* cuando la imagen es mas pequeña que el contenedor(pag) */
    background-repeat: no-repeat;
    background-size: contain;


     /* background-attachment: fixed; */
     /* fija la imagen en la pág */



     /* Margenes */
     margin-top: 100px;
     margin-right: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin: 20px; 
     /* -sobreescribe todo lo que aparece previamente en cuanto a los margenes */


     
     /* bordes */
    /* border-bottom: seagreen;
    border-top: yellow;
    border-width: 5px;
    border-style: solid; */

    /* compacta todo los border separados en uno, los más usados son: */
    border: 5px solid seagreen;
    border-bottom: 15px solid red;

    /* padding */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding: 100px 25px 50px 0px ;

}

.empty {
    height: 2000px;
    background-color:red;
}

h1 {
    color: red;
}

/* en margen y padding no se añaden colores */